In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-06-05 03:40:00,-33.9258,18.4232,52.12,97,0,3.29
1,1,Atuona,PF,2021-06-05 03:42:35,-9.8000,-139.0333,79.41,80,35,19.42
2,2,Westport,US,2021-06-05 03:42:35,41.1415,-73.3579,67.33,95,1,1.01
3,3,Castro,BR,2021-06-05 03:42:35,-24.7911,-50.0119,55.94,90,0,4.14
4,4,Punta Arenas,CL,2021-06-05 03:42:36,-53.1500,-70.9167,30.31,100,40,5.84

## Configure gmaps to use api key

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Goals of excercise
##### 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
##### 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
##### 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
##### 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

##### 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
##### 6. Call the figure to plot the data.
fig

### ==========================================================================================
## Create heat map

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Avoid Errors
Google heatmaps do not plot negative numbers. If you have a maximum temperature 
that is less than 0 °F, then you will get an InvalidWeightException error
for this line of code:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
To remove the negative temperatures we can use a for loop to iterate through the 
max_temp and add the temperatures that are greater than 0 °F to a new list

#### Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
I DONT UNDERSTAND HOW THIS CHECKED FOR THINGS BELOW 0....

In the for loop, we're using the max() function to get the largest value between the temp and 0. If the temp is less than 0, then 0 will be added to the list in its place. Otherwise, the temp is added to the list.

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

## New heat map removes any max temp below zero 
### by swapping weights=max_temp to weights=temps

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Convert to list comprehension
for temp in max_temp:
    temps.append(max(temp, 0))
    
### It would be
[max(temp, 0) for temp in max_temp]

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Adjust heat map Zoom

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Increase size of heat map on cities

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create Percent Humidity Heat Map

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
city_data_df.head(1)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-06-05 03:40:00,-33.9258,18.4232,52.12,97,0,3.29

# Customer input for Vacation Locale Suggestion

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 87

## Create filter on DataFrame to use input
## Using .loc method

In [32]:
# Filter the dataset to find the cities that fit the criteria using .loc
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-06-05 03:42:35,-9.8000,-139.0333,79.41,80,35,19.42
8,8,Bengkulu,ID,2021-06-05 03:42:37,-3.8004,102.2655,76.24,92,100,8.52
9,9,Hilo,US,2021-06-05 03:37:58,19.7297,-155.0900,78.53,72,20,13.80
15,15,Butaritari,KI,2021-06-05 03:42:38,3.0707,172.7902,83.12,67,100,2.77
18,18,North Platte,US,2021-06-05 03:42:39,41.1239,-100.7654,76.01,51,1,1.01
23,23,Beidao,CN,2021-06-05 03:42:40,34.5686,105.8933,84.00,33,0,4.03
26,26,Tura,IN,2021-06-05 03:42:40,25.5198,90.2201,83.41,80,22,6.87
29,29,Hambantota,LK,2021-06-05 03:42:41,6.1241,81.1185,80.94,94,75,16.02
34,34,Laguna,US,2021-06-05 03:42:42,38.4210,-121.4238,86.50,44,1,4.00
41,41,Novita,CO,2021-06-05 03:42:44,4.9551,-76.6053,76.75,98,100,1.48

## Check for null values

In [40]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [43]:
preferred_cities_df.notnull().sum()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [41]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

### If nulls are found dropna()

In [44]:
#preferred_cities_df.dropna()

# Find travel Destination and suggest hotels
### Better way to copy dataframes and targeting certain series/columns
#### Copy cities that we are going to suggest to the customer to a new dataframe that 
#### will be used to find hotel suggestions

In [144]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

In [130]:
hotel_df.head(2)

       City Country  Max Temp     Lat       Lng
1    Atuona      PF     79.41 -9.8000 -139.0333
8  Bengkulu      ID     76.24 -3.8004  102.2655

# Retrieve Hotels from a Nearby Search
### The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.

## Set the Parameters for a Nearby Search
#### To find the nearest establishment to geographic coordinates, use the Google Places Nearby Search 
#### request. First, navigate to the Nearby Search requests page.
#### https://developers.google.com/places/web-service/search#PlaceSearchRequests%0D%0A
#### Python Request Library https://requests.kennethreitz.org/en/master/
#### Python Passing params via Request Library https://requests.kennethreitz.org/en/master/user/quickstart/#passing-parameters-in-urls

### This works but need a for loop
google_nearby_base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "3.0707,172.7902"    
}
#Make request for Google nearby search
hotels = requests.get(google_nearby_base_url,params=params).json()
hotels

#### Count hotels recieved from query

In [129]:
len(hotels["results"])

1

###  Query hotel names in the results

In [131]:
hotels["results"][0]["name"]

'Isles Sunset Lodge'

# Iterate through Dataframe
### for lat and lng
## Adds new clumn to hotels_df with "hotel name" hotel suggestions
#### Commented out checks for loop functionality...use them if there are any issues

In [148]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    hotels_found = 1
    # Add the latitude and longitude to location key for the params dictionary.
    params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location" : f"{lat},{lng}"
    }

    # Use the search term: "lodging" and our latitude and longitude.
    #base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    google_nearby_base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request for Google nearby search
    hotels = requests.get(google_nearby_base_url,params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
          
        #provides positive feedback that code is working by printing hotel added to df
        #print(hotel_df["Hotel Name"].count())
        #print(hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping.")
        #Provides positive feedback that iteration is working
        #print(f'{lat},{lng}')
#Prints number of hotel names added to hotel_df
print(hotel_df["Hotel Name"].count())

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
142

In [110]:
google_nearby_base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "3.0707,172.7902"    
}
#Make request for Google nearby search
hotels = requests.get(google_nearby_base_url,params=params).json()

In [138]:
hotels["results"][0]["name"]

IndexError: list index out of range

In [137]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,79.41,-9.8000,-139.0333,Villa Enata
8,Bengkulu,ID,76.24,-3.8004,102.2655,Grage Hotel Bengkulu
9,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Butaritari,KI,83.12,3.0707,172.7902,Isles Sunset Lodge
18,North Platte,US,76.01,41.1239,-100.7654,"Holiday Inn Express & Suites North Platte, an ..."